.pedido {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    font-size: 5;
    color: coral;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 15px;
    border-radius: 17px;
    border-color: coral;
}

.dateHour {
    width: 129px;
    margin-left: 10px;
    margin-right: 10px;
}

.pedidoText {
    width: 157px;
}

.pedido {
    font-size: 14px;
}

.items {
    font-size: 12px;
    font-weight: bold;
}